html,body{
  height:100%;
  padding:0;
  margin:0;
}
*{
  box-sizing:border-box;
}
.box{
  position: relative;
  width:900px;
  height:650px;
  background-color:rgb(99, 135, 189);
}

.col-2 {
  flex: 0 0 auto;
  width: 0%;
}

.jugadores{
  height: 150px;
}

.casilla {
  position: absolute;
  border: solid black;
  border-radius: 50%;
}

.puchero {
  margin: 0;
  position: absolute;
  border: solid black;
  border-radius: 50%;
  top: 45%;
  left: 42%;
}

#ganador{
  color: rgb(22, 139, 51);
}

#turno{
  font-size: 2em;

}

#refresh{
  margin-top: 2em;
}

.shake{
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0%{
      transform: rotate(20deg);
  }
  50%{
      transform: rotate(-20deg);
  }
  100%{
      transform: rotate(20deg);
  }
}

.dados{
  width: 90%;
  display: flex;
  justify-content: space-around;
}
